image: python:3.8-slim

pages:
  stage: deploy
  script:
    - rm -rf .public
    - mkdir .public
    - cp -r * .public
    - mv .public public
    - pip install -U sphinx recommonmark
    - sphinx-build -b html docs/source public
  tags:
    - docs
    # - sphinx-apidoc -o docs/source public
  artifacts:
    paths:
      - public
  only:
    - master
