image: python:3.7-alpine

pages:
  stage: deploy
  script:
    - rm -rf .public
    - mkdir .public
    - cp -r * .public
    - mv .public public
    - pip install -U sphinx recommonmark
    - sphinx-apidoc --ext-autodoc -o docs/source public
  artifacts:
    paths:
      - public
  only:
    - master
